{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/cart.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Quantity</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.bikeName }}</td>
                    <td>{{ item.bikePrice }}</td>
                    <td>{{ item.quantity }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <h4 id="total"></h4>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/cart.js') }}"></script>
{% endblock %}