{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/news.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="news-list">
        {% for article in news %}
            <div class="news-item">
                <h4>{{ article.title }}</h4>
                <p>{{ article.description }}</p>
                <div class="row">
                    <div class="col-sm">
                        <a class="btn btn-primary btn-sm" href="{{ path('news_page_details', {id: article.id}) }}">More</a>
                    </div>
                    <div class="col-sm">
                        <span class="float-right">created: {{ article.createdAt.format("Y-m-d H-i-s") }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% include 'nav/pagination.html.twig' with {'paginate': paginate, 'path': 'news_page_list'} %}
{% endblock %}
